<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Money tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
</head>
<body>
<div class="container" id="app">
    <currency-switcher></currency-switcher>
    <div class="row">
        <div class="col-md-12 mt-5">
            <total></total>
        </div>
    </div>
    <money-form></money-form>
    <div class="row">

        <div class="col-md-12 py-4">
            <history-list></history-list>
        </div>
    </div>
</div>

<script>
    Vue.use(Vuex);


    const store = new Vuex.Store({
        state: {
            currency: '$',
            history: [

            ]
        },
        mutations: {
            addHistory(state, {amount, type, comment, date}) {

                state.history.push({
                    amount,
                    type,
                    comment,
                    date: date ? date : moment().format('YYYY.MM.DD HH:mm:ss')
                });

                localStorage.setItem('history', JSON.stringify(state.history));
            },

            changeCurrency(state, currency) {
                state.currency = currency;
            }
        },
        getters: {
            total: state => {
                return state.history.reduce((sum, row) => {
                    return row.type === 'debit' ? sum + row.amount : sum - row.amount;
                }, 0).toFixed(2);
            },
        },

        actions: {
            fetchHistory: ({commit}) => {

                const history = localStorage.getItem('history');

                if (history) {
                    // BAD Practices
                    // state.history = JSON.parse(history);

                    const arrayOfHistory = JSON.parse(history);

                    arrayOfHistory.forEach(item => commit('addHistory', item))
                }
            }
        }
    });

    Vue.component('total', {
        store,
        template: `
            <h1 class="text-center text-primary font-weight-bold">
                    <strong>{{ store.getters['total'] }}</strong> {{ store.state.currency }}
            </h1>`
    });

    Vue.component('history-list', {
        store,
        template: `
            <div>
                <ul class="list-group list-group-flush text-secondary" v-for="item in store.state.history">
                    <history-item :item="item"></history-item>
                </ul>
            </div>
            `,
    });

    Vue.component('history-item', {
        store,
        props: ['item'],
        template: `
            <li class="list-group-item">
                        <span :class="item.type === 'debit' ? 'text-success' : 'text-danger'">
                            {{ item.type === 'debit' ? '+' : '-'}}
                            {{ item.amount }} {{ store.state.currency }}
                        </span>
                        <br>
                        <span class="float-left"><small>{{ item.comment }}</small></span>
                        <span class="float-right"><small>{{ item.date }}</small></span>
            </li>`
    });


    Vue.component('money-form', {
        store,
        data() {
            return {
                inputComment: '',
                inputAmount: '',
            }
        },
        methods: {
            addHistory(type) {
                const amount = parseFloat(this.inputAmount);

                if (Number.isNaN(amount) === false && (amount > 0 || amount < 0)) {
                    store.commit('addHistory', {
                        amount,
                        type,
                        comment: this.inputComment
                    });

                    this.inputComment = '';
                    this.inputAmount = '';
                }

            }
        },
        template: `
            <div class="row">
                <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="https://cdn3.iconfinder.com/data/icons/social-media-toolkit-1/32/comment-speak-social-media-tools-ui-512.png" width="16" alt="">
                        </span>
                    </div>
                    <input class="form-control" v-model="inputComment" placeholder="Comment">
                </div>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ store.state.currency }}</span>
                    </div>
                    <input type="number" v-model="inputAmount"  class="form-control" placeholder="0.00">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button" @click="addHistory('credit')">-</button>
                        <button class="btn btn-success" type="button" @click="addHistory('debit')">+</button>
                    </div>
                </div>
            </div>
</div>
            `
    });

    Vue.component('currency-switcher', {
        store,
        name: 'currencies',
        template: `
            <div class="btn-group" role="group" aria-label="Basic example">
              <button @click="store.commit('changeCurrency', 'USD')"
                class="btn btn-success">USD</button>
              <button @click="store.commit('changeCurrency', 'EUR')"  class="btn btn-primary">EUR</button>
              <button @click="store.commit('changeCurrency', 'UAH')"  class="btn btn-warning">UAH</button>
            </div>
        `
    });

    new Vue({
        el: '#app',
        store,
        mounted() {
            store.dispatch('fetchHistory');
        }
    });

    // DZ
    // - Добавить под тотал значения - положительные и отрицательные через геттеры
    // - Добавить dropdown для отображения списка всех транз, положительных, отрицательных через геттеры
    // - Добавить синхронизацию с localStorage через actions
    // -
</script>
</body>
</html>
